.section{
	width: 100%;
	position: relative;
	display: grid;
	grid-template-columns: 25% 50% 25%;
	margin-left: 1%;
	top: 110px;
}

.ads{
	width: 100%;
	height: 850px;
	margin-left: 20px;
	background: #E6E6E6;
}

.ads h3{
	font-size: 2vw;
	text-align: center;
	margin-top: 30%;
}

.about{
	position: relative;
	width: 90%;
	height: 850px;
	right: 25px;

	background: rgba(255, 251, 251, 0.39);
	box-sizing: border-box;
	border-radius: 15px;
	box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.about h3{
	font-size: 2.2vw;
	text-align: center;
}

.about p{
	margin: 20px 20px 20px;
	text-align: justify;
	font-size: 1.5vw;
}

.words h2{
	font-size: 2.3vw;
	text-align: center;
}

.words p{
	font-size: 1.5vw;
	margin-top: 5px;
	color: black;
	text-align: center;
}

.words li{
	font-size: 1.5vw;
	margin-left: 20%;
	color: black;
	text-align: left;
}

.cntcus{
	display: grid;
	grid-template-rows: 5% 5% 5% 5% 5% 5% 5% 5% 5% 5%;
}

.cntcus label{
	margin-left: 10%;
	display: grid;
	grid-template-columns: 20% 10% 47%;
	grid-gap: 10px;
	font-size: 1.3vw;
	font-weight: bold;
}

.cntcus label p{
	font-size: 1.3vw;
}

.cntcus select{
	height: 25px;
	margin-right: 50%;
}

.cntcus label input{
	width: 100%;
	height: 27.18px;
	border-width: 1px;

	background: #FFFFFF;
	border-radius: 5px;
}

.cntcus label textarea{
	overflow-y: scroll;
	resize: none;
	left: 195px;
	border-width: 1px;

	background: #FFFFFF;
	border-radius: 5px;
}

/*bgian button msh brantakan ini*/
.button{
	display: grid;
	margin-top: 30px;
	grid-template-columns: 50% 50%;
	/*position: inline-block;*/
	height: 30px;
	width: 75px;
	margin-left: 10%;
	margin-top: 2.5%;
}

.button2{
	display: grid;
	border-width: 1px;
	border-radius: 4px;
	grid-template-columns: 50% 50%;
	padding-left: 17px;
	margin-top: -26%;
	height: 30px;
	width: 75px;
	margin-left: 71%;
}