#container{
	display: grid;
	grid-template-areas: 
	"carousel"
	"undercarousel"
}

#undercarousel{
	top:70px;
	margin-top: 95px;
	grid-area: undercarousel;
	display: grid;
	grid-template-areas: 
	"ads popularbanner"
	"ads pembelian";
	grid-template-columns: 1fr 3fr;
}

#slideshow {
	grid-area: carousel;
}

.carousel{
	top: 70px;
  	overflow: hidden;
  	box-shadow: 0px 2px 4px 0px #404040;
}

#ads{
	margin-left: 10px;
	grid-area: ads;
	background: lightgrey;
	display: flex;
	justify-content: center;
	align-items: center;
}

#popularbanner{
	grid-area: popularbanner;
	background-color: black;
	margin-left: 17px;
}

#textbanner{
	margin-left: 100px; 
	background-color: white; 
	width: 200px; 
	height: 100%;
}

/*-------------------------CSS PRODUK------------------*/
.pembelian{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	grid-area: pembelian;
}

.pro{
	margin: 30px 10px;
	width: 30%;
	border-radius: 10px;
	background-color: #f2f2f2;
	box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
	cursor: pointer;
}

.pro img{
	width: 100%;
}

.pro p{
	text-align: center;
	font-size: 1.3vw;
	font-weight: bold;
}

.pro button{
	margin: 0px auto;
}